.about {
	min-height: 50vh;
	max-width: 500px;
	margin: auto;
}

.about__heading {
	margin-top: 4.8rem;
	font-size: 3.2rem;
}

.about__text {
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin: auto;
}
